@import url("https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
    --color-first: #C8D7B8;
    --color-second: #89b46e;
    --color-third: #f9e6e0;
    --color-first-opacity: #F9E6E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62%;
}

body {
    background-color: #F0F6EA;
    font-family: 'Bellota', 'Noto Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 2;
    font-size: 1.5rem;
    color: rgb(49, 49, 49);
}

body.lock {
    overflow: hidden;
}

img {
    transition: filter 0.5s;
}

.lazy-img {
    filter: blur(20px);
}

.btn {
    font-family: 'Bellota', 'Noto Sans', Arial, sans-serif;
    cursor: pointer;
    background-color: var(--color-first);
    border: none;
    border-radius: 25px;
    padding: 1.5rem 2.5rem;
    font-weight: 700;
    margin-bottom: 5rem;
    color: #333333;
}

.btn:hover {
    background-color: var(--color-second);
}

.modal-window {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    height: 40rem;
    width: 40rem;
}

.modal__header {
    padding: 1rem 3rem;
    font-size: 1.7rem;
}

.btn--close-modal-window {
    align-self: end;
    border: none;
    background-color: #f0f0f0;
    font-size: 3rem;
    margin-top: 0.8rem;
    margin-right: 1.2rem;
    cursor: pointer;
}

.modal__form {
    font-weight: 600;
    display: grid;
    grid-template-columns: 7rem 21rem;
    justify-content: space-between;
    row-gap: 2rem;
    column-gap: 3.5rem;
    margin-top: 2.5rem;
}

.modal__form input {
    border: none;
    border-radius: 0.2rem;
    width: 20rem;
}

.modal__form .btn {
    font-weight: 700;
    grid-column: 1;
    width: 15rem;
    transform: translateX(50%);
    margin-top: 1.6rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    transition: all 0.5s;
    z-index: 100;

}

.hidden {
    display: none;
}

/* navbar */

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 100%;
    padding: 0 4rem;
}

.nav.sticky {
    position: fixed;
    background-color: rgba(240, 246, 234, 0.95);
    transition: .6s all ease;
    z-index: 101;
}

.nav__logo {
    height: 5rem;
    transition: all 0.4s;
}

.nav__text {
    transition: all 0.3s;
    text-decoration: none;
    color: #333333;
    position: absolute;
    text-align: left;
    margin-left: 7rem;
    font-weight: 1000;
    font-size: 2rem;
}

.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav_item {
    margin-left: 3rem;
}

.nav__link {
    padding: 0.2rem 0.2rem;
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.nav__link:link, .nav__link:visited {
    font-size: 1.8rem;
    font-weight: 800;
    display: block;
    transition: all 0.3s;
}

.nav__link--btn:link, .nav__link--btn:visited {
    background-color: var(--color-first);
    border-radius: 25px;
    padding: 1rem 1.5rem;
}

.nav__link--btn:hover, .nav__link--btn:active {
    background-color: var(--color-second);
    color: #333;
}

.menu__icon {
    display: none;
}

@media (min-width: 767px) {
    .nav__links {
        display: flex;
        align-items: center;
    }

    .nav__item {
        padding: 1rem 0;
    }
}

@media (max-width: 767px) {
    .nav {
        padding: 0;
    }

    .nav__logo {
        position: absolute;
    }

    .menu__icon {
        z-index: 1000;
        display: block;
        position: absolute;
        right: 0;
        width: 10%;
        height: 3rem;
        cursor: pointer;
    }

    .menu__icon span, .menu__icon:before, .menu__icon:after {
        right: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--color-first);
    }

    .menu__icon:before, .menu__icon:after {
        content: "";
    }

    .menu__icon:before {
        top: 0;
    }

    .menu__icon:after {
        bottom: 0
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon.active span {

        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .menu__icon.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .nav__links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255, 0.9);
        padding-top: 15rem;
        /*padding-left: 6rem;*/
        transition: left 0.3s ease 0s;
        align-items: center;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .nav__links.active {
        left: 0;
        transition: all 0.4s;
    }

    .nav__link:before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    .nav__logo {
        z-index: 101;
    }

    .nav__text {
        font-size: 2rem;
        font-weight: 700;
        z-index: 101;
    }

    .nav__link:visited, .nav__link:link {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .nav__link--btn:after {
        display: none;
    }

}


/* header */

.header {
    display: flex;
    padding: 0 2rem;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.header__title {
    flex: 1;
    display: grid;
    max-width: 90rem;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
}

.header__title h1 {
    font-family: 'Titan one', sans-serif;
    line-height: 7rem;
    font-size: 4.5rem;
    padding-top: 2rem;
}

.btn--text {
    background-color: #F0F6EA;
    border: none;
    text-decoration-line: underline;
    text-underline-offset: 0.6rem;
    color: var(--color-second);
}

.header__img {
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    width: 100%;
    border-radius: 20rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
}

/* section1 */

.section {
    border-top: 1px solid rgb(213, 213, 213);
    max-width: 100%;
    padding: 15rem 3rem;
    transition: all 0.6s;
}

.section__header {
    font-family: 'Titan one', sans-serif;
    font-size: 3rem;
    margin-bottom: 6rem;
    color: var(--color-first);
    transition: all 0.6s;
    text-align: center;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 6rem;
    justify-content: center;
    transform: translateY(-3rem);
}

.service__icon {
    width: 100%;
    border-radius: 5rem;
}

.services__feature {
    font-size: 1.2rem;
    align-content: center;
    padding: 6rem 3rem;
    border: solid 1px #333333;
    border-radius: 5rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
}

.service__header {
    font-size: 1.3rem;
}

.services__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.0rem;
    width: 4.0rem;
    padding: 1rem;
    border-radius: 4rem;
    background-color: #F9E6E0;
    margin-bottom: 1rem;
}

.services__img {
    border-radius: 5rem;
}

@media (min-width: 767px) {
    .services {
        margin: 2rem 4rem;
    }

    .services__feature {
        width: 45rem;
    }

    .services__img {
        width: 45rem;
    }
}

@media (max-width: 767px) {
    .services {
        margin: 0;
    }


    .services__feature {
        width: 33rem;
    }

    .services__img {
        width: 33rem;
    }

}

/* section2 */

.operations {
    position: relative;
    height: 30rem;
    margin-top: 0;
}

.operation__tab-container {
    display: flex;
    justify-content: center;

}

.operations__tab {
    border: none;
    border-radius: 10rem;
    z-index: 50;
    transition: all 0.6s;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.operations__content {
    position: absolute;
    left: 50%;
    justify-content: center;
    grid-template-columns: 7rem 1fr;
    column-gap: 2rem;
    height: 35rem;
    background-color: #fff;
    font-size: 1.3rem;
    transform: translate(-50%, -2rem);
    padding: 4rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    border-radius: 5rem;
}

.operations__tab--1 {
    background-color: #F6BCAE;
}

.operations__tab--1:hover {
    background-color: #c4978c;
}

.operations__tab--2 {
    background-color: var(--color-first);
}

.operations__tab--2:hover {
    background-color: #9ebd8b;
}

.operations__tab--3 {
    background-color: #e3c8ec;
}

.operations__tab--3:hover {
    background-color: #9276a1;
}

.operations__tab--active {
    transform: translateY(-1rem);
    transition: all 0.6s;
}

.operations__content--1 {
    display: none;
}

.operations__content--2 {
    display: none;
}

.operations__content--3 {
    display: none;
}

.operations__content--active {
    display: grid;

}

.operations__header {
    font-size: 2rem;
    font-weight: 800;
}

.operations__content p {
    grid-column: 2;
}

.operations__icon {
    display: flex;
    width: 5.5rem;
    height: 5.5rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .operations__content {
        width: 33rem;
    }

    .operations__tab {
        width: 10rem;
        height: 6rem;
        margin: 0 1.5rem;
        padding: 1rem 2rem;
        font-weight: 1000;
        font-size: 1.1rem;
    }

    .operations__content {
        font-size: 1rem;
        padding: 3rem 1rem;
    }

    .operations__header {
        font-size: 1.3rem;

    }

    .operations__content--active {
        align-items: center;
    }
}

@media (min-width: 767px) {
    .operations__content {
        width: 55rem;
    }

    .operations__tab {
        width: 22rem;
        margin: 0 1.5rem;
        padding: 1rem 2rem;
        font-weight: 1000;
    }
}

/* section3 */

.slider {
    position: relative;
    height: 60rem;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    transition: transform 1s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5rem;
    z-index: 2;
}

.slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: #C8D7B8;
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
}

.slide.active {
    z-index: 4;
}

.slide--next {
    transition: all 0.2s;
}

.slider__btn:hover {
    background-color: #89b46e;
}

.slider__btn--left {
    left: 7%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 7%;
    bottom: 50%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    transform: translateY(-50%);
}

.dots__dot:last-child {
    margin: 0;
}

.dots__dot--active {
    background-color: #888;
    opacity: 1;
}

.review {
    width: 60%;
    position: relative;
}

.review::before {
    content: '\201C';
    position: absolute;
    top: -6.6rem;
    left: -8.8rem;
    line-height: 1;
    font-size: 18rem;
    font-family: inherit;
    color: var(--color-first);
    z-index: -1;
}

@media (max-width: 800px) {
    .slider__btn {
        display: none;
    }

    .slider {
        width: 33rem;
        height: 40rem;
    }

    .slide {
        width: 33rem;
        margin: 0 auto;
        transition: transform 1s;
    }

    .slide img {
        width: 33rem;
        height: 33rem;
    }

    .review {
        width: 33rem;
        position: relative;
    }
}

@media screen and (min-device-width: 801px) and (max-device-width: 900px) {
    .dots {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);
        display: flex;
    }

    .slider__btn {
        display: none;
    }

    .slider {
        width: 45rem;
        height: 50rem;
    }

    .slide {
        width: 45rem;
        margin: 0 auto;
        transition: transform 1s;
    }

    .slide img {
        width: 45rem;
        height: 45rem;
    }

    .review {
        width: 45rem;
        position: relative;
    }
}

/* footer sign-up*/

.section__sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(49, 49, 49);
    border-bottom: 1px solid rgb(72, 71, 71);
    padding: 2rem 3rem;
}

.section__title__sign-up {
    color: #f0f0f0;
    margin: 0;
    padding: 2rem 0;
}

.section__header__sign-up {
    font-size: 2.6rem;
    text-align: center;
}

@media (max-width: 767px) {
    .section__header__sign-up {
        width: 100%;
        font-size: 2.6rem;
        text-align: center;
    }
}

@media (min-width: 767px) {
    .section__header__sign-up {
        width: 60rem;
        font-size: 2.6rem;
        text-align: center;
    }
}

.btn--show-modal-window {
    font-family: 'Bellota', 'Noto Sans', Arial, sans-serif;
}

/* footer */

.footer {
    background-color: rgb(49, 49, 49);
    padding-bottom: 2rem;
}

.footer__nav {
    display: flex;
    justify-content: center;
}

.footer__item {
    position: relative;
    margin: 4rem 1rem;
    background-color: #C8D7B8;
    width: 3rem;
    border-radius: 5rem;
}

.footer__link {
    color: #f0f0f0;
    text-decoration: none;
}

.footer__item:hover, .footer__item:active {
    background-color: #89b46e;
}

.footer_icon {
    position: absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
}

.footer__copyright {
    text-align: center;
    color: #f0f0f0;
    font-size: 1rem;
}

.section--hidden {
    opacity: 0;
    transform: translateY(9rem);
    transition: all 0.4s;
}

